---
import NowServerIsland from '../components/NowServerIsland.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true
---

<Layout>
	<NowServerIsland server:defer/>
	
	<div>prerender: false</div>
	<a href="/page2">Go to Prerendered Page</a>
</Layout>
